.carousel-inner img {
	width:	100%;
	height:	100%;
}

.modal-title {
	text-align: center;
	font-size: 30px;
	font-family: bold;
	color: white;
}

#videos {
	width: 100%;
	height:100%;
}

.modal-body {
	font-size:		15px;
	font-family:	bold;
}

.modal-header {
	background-color:	black;
}

.modal-footer {
	background-color:	white;
}

#botoncerrarmodal {
	background-color:	red;
	font-weight:		bold;
	color:				white;
}


.dropdown-menu {
	background-color:	black;
}

.dropdown-menu li a {
	color: white;
}

#iconosalir {
	width:	30px;
	height:	30px;
}


#index {
	background-color: black;
}

#boton_menu {
	display: none;
}

.navbar-nav {
	display: block;
}

#modal_perfil {
	width: 90%;
	height: 90%;
}

 #imgPerfil {
	width:	300px;
	height: 300px;
}

#parte_izquierda_perfil {
	display: block;
	margin-top: 10%;
	margin-left: 3%;
}

#parte_derecha_perfil {
	display: block;
	margin-top: 10%;
	margin-left: 3%;
}

#parte_derecha_perfil input {
	margin-top: 15%;
	font-size: 25px;
}

@media only screen and (max-width:1024px) and (min-width:360px) {

	.navbar-nav {
	display: none;
	}

	#boton_menu {
		display: block;
		font-size: 35px;
		color: gray;
		margin-bottom: 40px;
	}

	.glyphicon-th-list:hover {
		color: white;
	}

	.navbar-brand {
		font-size: 20px;
		display: block;
		position: absolute;
	}

	#imgPerfil {
	 width:	200px;
	 height: 200px;
 }

 #parte_izquierda_perfil {
	 display: block;
	 margin-top: 10%;
	 margin-left: 3%;
 }
}
